@media (max-width: 1220px) {
   .intro {
      &__inner {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      &__info {
         margin-right: 0;
         margin-bottom: 40px;
         padding-top: 0;
         max-width: 600px;
         text-align: center;
      }

      &__image {
         display: none;
      }

      &__btn {
         margin: 0 auto;
      }
   }

   .intro-descr {
      position: static;
      max-width: 100%;
      width: 100%;
      height: auto;
      padding: 40px 10px;

      &::before {
         display: none;
      }

      &__text {
         max-width: none;
         width: 100%;
         text-align: center;
         padding: 0 60px;

         &::before {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
         }

         &::after {
            left: auto;
            right: 0;
            bottom: 50%;
            transform: translateY(50%) rotate(180deg);
         }
      }
   }
}

@media (max-width: 600px) {
   .intro {
     padding: 40px 0;
   }

   .intro-descr {
      display: none;
   }
}